@model Otokar.Models.Data.Gorev

@{
    ViewBag.Title = "Gorev Detayları";
}

<h2>Görev Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Görev No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Görev Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GorevAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
