@model Otokar.Models.Data.Departman

@{
    ViewBag.Title = "Departman Detayları";
}

<h2>Departman Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Departman No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmanNo)
        </dd>

        <dt>
            Departman Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmanAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.DepartmanNo }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
